div ul li a {
    color: white;
    padding: 0px 15px;
}

.btn-outline-success {
    border: none;
}

.btn-outline-success:hover {
    background-color: #19227C;
}

.titulo-principal {
    color: #5965f0;
}